<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

<form th:action="@{/tasks/save}" method="post" th:object="${task}" style="margin-left: 30vw; margin-right: 30vw; " enctype="multipart/form-data">
    <div class = "note_block">
        <input type="hidden" th:field="*{id}" />
        <div style = "display: flex; justify-content: center; align-items: center; ">
            <textarea th:field="*{deadline}" placeholder="Deadline" required minlength="4" maxlength="8" class = "note_name" style="resize: none;height: 3.4vw;"></textarea>
            <button class="tick_button" type="submit">+</button>
        </div>
        <div style = "display: flex; justify-content: center; align-items: center;">
            <textarea th:field="*{content}" placeholder="Content" maxlength="250" class = "note_text" style="width: 33.7vw; height: auto; resize: vertical;"></textarea>
        </div>
        <div class = "note_photo">
            <input type="file" name="files" multiple style = "width: 33.7vw; height: auto; border-radius: 0.3vw; background-color: gray; margin-top: 1vw; margin-bottom: 1vw;">
        </div>
        <div style = "display: flex; justify-content: center; align-items: center;">
            <button type="button" class="button" style="width: 40vw; margin: 0.5vw; padding: 0.5vw; font-size: 2vw;" onclick="history.back()">Cancel</button>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">User id</label>
            <div class="col-sm-8">
                <input type="number" th:field="*{user.id}" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Status</label>
            <div class="col-sm-8">
                <input type="checkbox" th:field="*{status}"/>
            </div>
        </div>
    </div>
</form>
</body>
</html>