<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body style="display: flex; justify-content: center;">
<div style=" width:auto;  text-align: center; ">
    <form th:action="@{/users/save}" method="post" th:object="${user}">
        <div class="note_block">
            <input type="hidden" th:field="*{id}" />
            <div style="font-size: 2vh">Username</div>
            <input type="text" th:field="*{username}" class="selector_style" style="width: auto;font-size: 2vh" required minlength="4" maxlength="45"/>
            <div style="font-size: 2vh">First Name</div>
            <input type="text" th:field="*{firstName}" class="selector_style" style="width: auto;font-size: 2vh"required minlength="2" maxlength="45"/>

            <div style="font-size: 2vh">Last Name</div>
            <input type="text" th:field="*{lastName}" class="selector_style" style="width: auto;font-size: 2vh" required minlength="2" maxlength="45"/>
            <div style="font-size: 2vh">Password</div>
            <input type="password" th:field="*{password}" class="selector_style" style="width: auto;font-size: 2vh" required minlength="8" maxlength="15"/>
            <div style="font-size: 2vh">Phone Number</div>
            <input type="text" th:field="*{phoneNumber}" class="selector_style" style="width: auto;font-size: 2vh" required minlength="6" maxlength="45"/>


            <div style = "display: flex; justify-content: center; align-items: center; padding: 0.5vw;">
                <button type="submit" class="button" style="font-size:1.5vh; padding: 0.5vw; margin: 0.5vw; width:5vw; min-width: 200px;">Enter</button>
                <button type="button" class="button" style="font-size:1.5vh; padding: 0.5vw; margin: 0.5vw; width:5vw; min-width: 200px;" onclick="history.back()">Cancel</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>